# **Selenium- Web Scraping (Internship_23, Konatala Mohit, ID_34)**

*Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.*

In [2]:
#install selenium 
!pip install selenium

Requirement already satisfied: selenium in d:\anaconda_python\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in d:\anaconda_python\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in d:\anaconda_python\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in d:\anaconda_python\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in d:\anaconda_python\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in d:\anaconda_python\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in d:\anaconda_python\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in d:\anaconda_python\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in d:\anaconda_python\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in d:\anaconda_python\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in d:\anaconda_python\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in d:\anaconda_python\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in d:\anaconda_python\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in d:\anaconda_python\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in d:\anaconda_python\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in d:\anaconda_python\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in d:\anaconda_python\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in d:\anaconda_python\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [1]:
# installing required libraries
import selenium 
from selenium import webdriver
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.common import exceptions 
from selenium.common.exceptions import StaleElementReferenceException
import time

In [2]:
# calling chrome driver
driver=webdriver.Chrome('chromedriver.exe')

In [6]:
# getting the url
url='https://www.naukri.com'
driver.get(url)

In [7]:
#locating the required search bars
search_job= driver.find_element_by_id("qsb-keyword-sugg")
search_location=driver.find_element_by_id("qsb-location-sugg")

In [8]:
# sending keys to search bar
search_job.send_keys("Data Analyst")
search_location.send_keys("Bangalore")

In [9]:
#clicking on the search
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_button.click()

In [10]:
#closing the bot chatbox
cancel= WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[5]/div/div[1]/div[1]/div'))).click()

In [12]:
# defining appending function and empty list
job_title_list=[]
job_location_list=[]
company_name_list=[]
exp_list=[]
def attach(x,y):
    for i in x:
        y.append(i.text)

In [14]:
#scraping the required Data
job_titles= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
attach(job_titles,job_title_list)

company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
attach(company_names,company_name_list)

job_locations=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
attach(job_locations,job_location_list)

job_exps=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
attach(job_exps,exp_list)

In [16]:
#picking the top 10 Data
top_10_jobs=job_title_list[0:10]
top_10_locs=job_location_list[0:10]
top_10_exp=exp_list[0:10]
top_10_com=company_name_list[0:10]

In [18]:
# Framing the required Data
import pandas as pd

df=pd.DataFrame(list(zip(top_10_jobs,top_10_locs,top_10_com,top_10_exp)))
df.columns=['Job Title','Location','Company','Experience Required']
df.index+=1
df

,Job Title,Location,Company,Experience Required
1,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric,0-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,Snaphunt,0-2 Yrs
4,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,Bangalore/Bengaluru,BRIDGEi2i Analytics Solutions Private Limited,0-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Jeeva Organic,3-8 Yrs
6,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,7-12 Yrs
7,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
8,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Glance,1-6 Yrs
10,Senior Data Analyst,Bangalore/Bengaluru,Glance IT Solution,1-6 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [20]:
# calling chrome driver and getting the url
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.naukri.com'
driver.get(url)

In [21]:
#locating the required search bars
search_job= driver.find_element_by_id("qsb-keyword-sugg")
search_location=driver.find_element_by_id("qsb-location-sugg")

In [22]:
# sending keys to search bar
search_job.send_keys("Data Scientist")
search_location.send_keys("Bangalore")

In [23]:
#clicking on the search
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_button.click()

In [24]:
#closing the bot chatbox
cancel= WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[5]/div/div[1]/div[1]/div'))).click()

In [25]:
# defining appending function and empty list
job_title_list=[]
job_location_list=[]
company_name_list=[]
def attach(x,y):
    for i in x:
        y.append(i.text)

In [26]:
#scraping the required Data
job_titles= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
attach(job_titles,job_title_list)

company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
attach(company_names,company_name_list)

job_locations=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
attach(job_locations,job_location_list)

In [27]:
#picking the top 10 Data
top_10_jobs=job_title_list[0:10]
top_10_locs=job_location_list[0:10]
top_10_com=company_name_list[0:10]

In [29]:
#framing the data
df=pd.DataFrame(list(zip(top_10_jobs,top_10_locs,top_10_com)))
df.columns=['Job Title','Location','Company',]
df.index+=1
df

,Job Title,Location,Company
1,Global Tax Automation & Operations | Data Scie...,Bangalore/Bengaluru,Dell
2,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
3,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
4,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies
5,Job opening with Wipro For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Wipro
6,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Wipro
7,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Wipro
8,Azure ML Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru",TCS
9,Senior Data Scientist - Logistics,Bangalore/Bengaluru,Gojek Tech
10,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [30]:
# calling chrome driver and getting the url
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.naukri.com'
driver.get(url)

In [31]:
#locating the required search bars
search_job= driver.find_element_by_id("qsb-keyword-sugg")
search_location=driver.find_element_by_id("qsb-location-sugg")

In [32]:
# sending keys to search bar
search_job.send_keys("Data Scientist")
search_location.send_keys("Delhi/NCR")

In [33]:
#clicking on the search
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_button.click()

In [34]:
#closing the bot chatbox
cancel= WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[5]/div/div[1]/div[1]/div'))).click()

In [35]:
#salary of 3-6Lakh filter
salary_option=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_option.click()

In [36]:
# defining appending function and empty list
job_title_list=[]
job_location_list=[]
company_name_list=[]
exp_list=[]
def attach(x,y):
    for i in x:
        y.append(i.text)

In [37]:
#scraping the required Data
job_titles= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
attach(job_titles,job_title_list)

company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
attach(company_names,company_name_list)

job_locations=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
attach(job_locations,job_location_list)

job_exps=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
attach(job_exps,exp_list)

In [38]:
#picking the top 10 Data
top_10_jobs=job_title_list[0:10]
top_10_locs=job_location_list[0:10]
top_10_exp=exp_list[0:10]
top_10_com=company_name_list[0:10]

In [39]:
df=pd.DataFrame(list(zip(top_10_jobs,top_10_locs,top_10_com,top_10_exp)))
df.columns=['Job Title','Location','Company','Experience Required']
df.index+=1
df

,Job Title,Location,Company,Experience Required
1,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
2,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
3,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
4,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
5,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
6,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
7,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
8,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
9,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG,0-2 Yrs
10,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.

In [2]:
# calling chrome driver and getting the url
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com'
driver.get(url)

In [4]:
#closing login popup
close_login=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[2]/div/div/button"))).click()

In [5]:
#locating search bar and sending keys
search_bar=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('sunglasses')

In [6]:
#clicking on search 
search_bar.send_keys(Keys.ENTER)

In [7]:
# defining appending function and empty list
company_list=[]
description_list=[]
price_list=[]
discount_list=[]
def attach(x,y):
    for i in x:
        y.append(i.text)

In [8]:
# creating for loop for extracting the data
for j in range(0,3):
        company_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        attach(company_name,company_list)
        description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
        attach(description,description_list)
        price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        attach(price,price_list)
        discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        attach(discount,discount_list)
        if j<2:
            next_button=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1].click()
            driver.refresh()
            driver.implicitly_wait(10)

In [9]:
# picking up the top 100 required data
top_100_names=company_list[0:100]
top_100_description=description_list[0:100]
top_100_pricenames=price_list[0:100]
top_100_discount=discount_list[0:100]

In [10]:
#framing the data
df=pd.DataFrame(list(zip(top_100_names,top_100_description,top_100_pricenames,top_100_discount)))
df.columns=['Name','Description','Price','Discount']
df.index+=1
pd.set_option('display.max_rows', None)
df

,Name,Description,Price,Discount
1,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
2,kingsunglasses,UV Protection Round Sunglasses (54),₹188,81% off
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹156,90% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹274,86% off
5,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,87% off
6,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383,80% off
7,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹261,84% off
8,PIRASO,UV Protection Wayfarer Sunglasses (32),₹190,88% off
9,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474,78% off
10,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹179,82% off
11,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
12,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359,76% off
13,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹262,83% off
14,Fastrack,UV Protection Shield Sunglasses (Free Size),₹729,18% off
15,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹360,81% off
16,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309,84% off
17,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
18,Rich Club,Polarized Round Sunglasses (48),₹165,66% off
19,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243,81% off
20,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449,70% off
21,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156,86% off
22,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",₹273,83% off
23,Rich Club,UV Protection Round Sunglasses (50),₹355,64% off
24,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹187,84% off
25,hipe,"Mirrored, Gradient, UV Protection Aviator Sung...",₹178,85% off
26,agera,Gradient Aviator Sunglasses (55),₹196,82% off
27,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
28,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299,85% off
29,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹299,81% off
30,Elligator,UV Protection Round Sunglasses (54),₹265,79% off
31,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426,78% off
32,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83% off
33,Fastrack,UV Protection Aviator Sunglasses (58),₹979,24% off
34,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹291,85% off
35,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹189,87% off
36,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹209,79% off
37,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹426,80% off
38,PIRASO,UV Protection Aviator Sunglasses (58),₹299,88% off
39,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹287,85% off
40,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹348,84% off
41,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹449,70% off
42,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹229,80% off
43,Rich Club,Polarized Round Sunglasses (48),₹163,67% off
44,SRPM,UV Protection Wayfarer Sunglasses (53),₹207,79% off
45,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹144,79% off
46,PIRASO,UV Protection Butterfly Sunglasses (65),₹349,86% off
47,Lee Topper,"UV Protection, Riding Glasses Retro Square, Sp...",₹375,71% off
48,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359,76% off
49,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹261,83% off
50,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹169,89% off
51,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹359,76% off
52,Elligator,UV Protection Round Sunglasses (55),₹239,88% off
53,ROYAL SON,Mirrored Aviator Sunglasses (58),₹359,76% off
54,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹319,78% off
55,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹261,79% off
56,Rich Club,UV Protection Round Sunglasses (50),₹355,64% off
57,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹211,83% off
58,Fastrack,UV Protection Round Sunglasses (55),₹899,10% off
59,hipe,UV Protection Sports Sunglasses (Free Size),₹287,84% off
60,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹287,85% off
61,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹192,82% off
62,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",₹245,83% off
63,hipe,"Mirrored, Gradient, Riding Glasses Round Sungl...",₹189,86% off
64,Fastrack,UV Protection Wrap-around Sunglasses (63),₹809,10% off
65,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹426,84% off
66,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹619,22% off
67,Silver Kartz,UV Protection Aviator Sunglasses (88),₹255,78% off
68,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹174,75% off
69,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹235,87% off
70,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹245,87% off
71,Urbanic,Others Retro Square Sunglasses (Free Size),₹842,29% off
72,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹169,86% off
73,PIRASO,UV Protection Aviator Sunglasses (58),₹299,88% off
74,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156,87% off
75,Silver Kartz,UV Protection Oval Sunglasses (56),₹284,76% off
76,Rich Club,UV Protection Round Sunglasses (48),₹250,68% off
77,IDEE,"Mirrored, UV Protection Wayfarer Sunglasses (18)","₹1,049",48% off
78,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹249,87% off
79,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹270,84% off
80,Lee Topper,UV Protection Round Sunglasses (Free Size),₹244,75% off
81,Elligator,"UV Protection Round, Oval Sunglasses (54)",₹266,79% off
82,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
83,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹258,87% off
84,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹187,90% off
85,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599,80% off
86,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,009",22% off
87,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹360,75% off
88,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹615,23% off
89,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹196,80% off
90,Billion,UV Protection Aviator Sunglasses (57),₹224,77% off
91,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,11% off
92,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309,84% off
93,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
94,Urbanic,Others Oval Sunglasses (Free Size),₹675,31% off
95,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹279,82% off
96,Singco,UV Protection Aviator Sunglasses (Free Size),₹498,75% off
97,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹216,72% off
98,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹258,80% off
99,HIPPON,UV Protection Wayfarer Sunglasses (55),₹218,81% off
100,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹305,79% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [3]:
#calling the driver
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [4]:
#opening all reviews
all_review=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]').click()

In [5]:
#creating lists and defining function for appending the data
rating_list=[]
summary_list=[]
review_list=[]
def attach(x,y):
    for w in x:
        y.append(w.text)
#creating page numbers        
pages=np.arange(1,11,1)

In [6]:
#creating loop for scraping the required data
start_string='&page='
new_url=driver.current_url
for page in pages:
    try:
        driver.get(new_url+start_string+str(page))
    except:
        break
    time.sleep(5)
    try:
        ratings=driver.find_elements_by_xpath('//div[starts-with(@class,"_3LWZlK")]')
        attach(ratings,rating_list)
        summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        attach(summary,summary_list)
        review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        attach(review,review_list)
    except exceptions.StaleElementReferenceException:  
        pass

In [7]:
#Framing the acquired data
del rating_list[0:110:11]
df=pd.DataFrame(list(zip(rating_list,summary_list,review_list)))
df.columns=['Rating','Review Summary','Full Review']
df.index+=1
pd.set_option('display.max_rows', None)
df

,Rating,Review Summary,Full Review
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Fabulous!,This is my first iOS phone. I am very happy wi...
7,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
10,5,Highly recommended,What a camera .....just awesome ..you can feel...
11,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
12,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
13,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
14,5,Highly recommended,It's my first time to use iOS phone and I am l...
15,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
16,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
17,5,Classy product,Totally in love with this ❤ the camera quality...
18,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
19,5,Worth every penny,It’s been almost a month since I have been usi...
20,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
21,5,Wonderful,This is my first ever I phone. Before this I w...
22,5,Terrific,Really worth of money. i just love it. It is t...
23,4,Nice product,Awesome Phone. Slightly high price but worth. ...
24,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
25,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
26,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
27,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
28,5,Must buy!,It’s an amazing product from apple and the cam...
29,5,Wonderful,I just directly switch from iphone 6s to iphon...
30,5,Perfect product!,After 1 month use I found camera quality best ...
31,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
32,5,Simply awesome,It's very high performances devise i am like t...
33,5,Great product,Well you all know the specifications . One of ...
34,5,Terrific purchase,The built quality is not very premium.\nThe ba...
35,5,Mind-blowing purchase,This will help you more. See if you are planni...
36,5,Excellent,Amazing camera and feel super machine I am not...
37,5,Simply awesome,Really good actually this is my first apple pr...
38,4,Good quality product,it is very good at performance. Camera is best...
39,1,Very poor,Reviewing again after 5 months. At the beginni...
40,5,Classy product,We are on apple ecosystem for almost eight yea...
41,5,Perfect product!,It is just awesome mobile for this price from ...
42,5,Must buy!,Best Apple iPhone that i have bought at a very...
43,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
44,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
45,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
46,5,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...
47,5,Must buy!,I rate this product 5* as it has got amazing u...
48,5,Great product,Again back to apple iphone after a gap of 2-3 ...
49,4,Very Good,impressive super phone and best in class camer...
50,5,Classy product,Well while switching from android to iOS the f...
51,5,Perfect product!,"In love with this iphone great performance,cam..."
52,5,Just wow!,Best in class. Battery backup is good especial...
53,5,Awesome,Very excited to have this phone. This phone ha...
54,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
55,5,Terrific purchase,Its Very awesome product working and good came...
56,5,Awesome,I am using this phone for 5 days and its one o...
57,5,Classy product,Best and amazing product.....phone looks so pr...
58,5,Brilliant,Excellent camera and display touching very nic...
59,5,Terrific,I got this beast today. And I must say the pic...
60,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
61,5,Awesome,"Always love the apple products, upgraded from ..."
62,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
63,1,Very poor,"Please DONT buy from here,\n\nI purchased Appl..."
64,5,Fabulous!,awesome phone to have. it has got many smart f...
65,5,Excellent,Its a fabulous mobile look awesome performance...
66,5,Must buy!,Dear friends... I want to share my experience ...
67,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
68,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
69,5,Brilliant,Amazing phone and on great deal I received wit...
70,5,Terrific purchase,finally an iPhone with very nice battery backu...
71,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
72,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
73,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
74,5,Perfect product!,Worth the money’ starting first from its perfo...
75,5,Awesome,I dreamt about this day from a long time.... G...
76,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
77,5,Just wow!,Great iphone.\nI am writing this review after ...
78,1,Worthless,Phone is awesome no doubt. But Camera & Displa...
79,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
80,5,Excellent,It was amazing experience for me. Honestly i a...
81,5,Wonderful,Super and marvellous phone look very cute and ...
82,4,Nice product,If you are looking for a premium phone under 5...
83,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
84,5,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...
85,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
86,5,Excellent,Just go for it.\nThis phone is really amazing....
87,5,Fabulous!,Everything is perfect pictures come out so cle...
88,4,Pretty good,I've used this phone for over a month now and ...
89,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
90,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
91,5,Excellent,A perfect phone and a good battery super camer...
92,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
93,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
94,5,Brilliant,A wort full value for money decision it’s . Si...
95,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,5,Must buy!,Camera is excellent just lack of telephoto mod...
97,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
98,5,Awesome,The phone is completely good\nAs far as camera...
99,3,Decent product,Everything u ll like it when u use this iPhone...
100,5,Wonderful,Nice value for money good and best price I pho...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [3]:
 # calling chrome driver and getting the url
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com'
driver.get(url)

In [4]:
#closing login popup
close_login=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[2]/div/div/button"))).click()

In [5]:
#locating search bar and sending keys
search_bar=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('sneakers')
#clicking on search 
search_bar.send_keys(Keys.ENTER)

In [6]:
#creating lists and defining function for appending the data
brand_list=[]
description_list=[]
price_list=[]
discount_list=[]
def attach(x,y):
    for w in x:
        y.append(w.text)
#creating page numbers                
pages=np.arange(1,4,1)

In [7]:
# creating for loop for extracting the data
start_string='&page='
new_url=driver.current_url
for page in pages:
    try:
        driver.get(new_url+start_string+str(page))
    except:
        break
    time.sleep(5)
    try:
        brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        attach(brand,brand_list)
        description=driver.find_elements_by_xpath('//a[starts-with(@class,"IRpwTa")]')
        attach(description,description_list)
        price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        attach(price,price_list)
        discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        attach(discount,discount_list)
    except exceptions.StaleElementReferenceException:  
        pass

In [8]:
#scraping top 100 sneakers required data
top_100_names=brand_list[0:100]
top_100_description=description_list[0:100]
top_100_pricenames=price_list[0:100]
top_100_discount=discount_list[0:100]

In [9]:
# Framing the acquired data
df=pd.DataFrame(list(zip(top_100_names,top_100_description,top_100_pricenames,top_100_discount)))
df.columns=['Brand','Description','Price','Discount']
df.index+=1
pd.set_option('display.max_rows', None)
df

,Brand,Description,Price,Discount
1,Deals4you,Sneakers For Men,₹649,67% off
2,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹449,55% off
3,Magnolia,Sneakers For Men,₹398,60% off
4,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
5,URBANBOX,Sneakers Sneakers For Men,₹247,75% off
6,Extoes,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹898,40% off
7,Labbin,Sneakers For Men,₹499,50% off
8,FKIZKO,Sneakers For Men,₹399,60% off
9,Stefano Rads,Classy Sneakers For Men,₹242,65% off
10,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,47% off
11,SCATCHITE,Sneakers Sneakers For Men,₹398,60% off
12,PEHANOSA,Sneakers For Men,₹699,56% off
13,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,50% off
14,Kraasa,Series 7 Sneakers For Men,₹444,55% off
15,Numenzo,411 Casual Sneakers For Men,₹426,78% off
16,BLANCCY,Sneakers For Men,₹449,55% off
17,PUMA,Glory Sneakers For Men,"₹1,379",54% off
18,Trendmode,Sneakers For Men,₹259,74% off
19,SPARX,SM439G Sneakers For Men,₹799,1% off
20,BLANCCY,Sneakers For Men,₹499,50% off
21,HOTSTYLE,Sneakers For Men,₹298,70% off
22,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹331,66% off
23,BIRDE,Sports Running Shoes Sneakers For Men,₹299,40% off
24,Blide,Running Shoes |Casuals | Sneakers | Sports | M...,₹449,61% off
25,CLYMB,Sneakers For Men,₹649,56% off
26,ganpati traders,Sneakers For Men,₹189,62% off
27,Kraasa,Shark-41 Sneakers For Men,₹444,55% off
28,BLANCCY,Sneakers For Men,₹429,57% off
29,TR,Sneakers For Men,₹599,70% off
30,DUNKASTON,Sneakers For Men,₹449,70% off
31,RapidBox,Sneakers For Men,₹680,31% off
32,STRANGER BROTHERS,Sneakers For Men,₹459,54% off
33,Numenzo,White Sneaker For Men Sneakers For Men,₹407,68% off
34,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹339,73% off
35,Rzisbo,Sneakers For Men,₹549,45% off
36,Flatheads,Sneakers For Men,"₹2,995",66% off
37,Robbie jones,Casual Sneakers Black Shoes For Men Sneakers F...,₹451,54% off
38,PUMA,Glory Sneakers For Men,"₹1,379",54% off
39,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
40,JOHAR KING,Casual Party Wear Sneaker Shoe Sneakers For Men,₹449,77% off
41,Zorth,Sneakers For Men,₹499,50% off
42,believe,Sneakers for men(black_7) Sneakers For Men,₹424,57% off
43,Kreverse,Sneakers For Men,₹259,74% off
44,Deals4you,Sneakers For Men,₹649,67% off
45,Pieds,Sneakers For Men,₹398,60% off
46,RapidBox,Stylish & Trendy Sneakers For Men,₹630,36% off
47,BIRDE,Combo Pack of 5 Casual Shoes Sneakers For Men,₹892,64% off
48,BLANCCY,Sneakers For Men,₹499,50% off
49,Xtoon,"white Casual shoes,Sneakers for men's Sneakers...",₹499,66% off
50,India hub,Luxury Fashionable casual sneaker shoes Sneake...,₹429,78% off
51,BRUTON,Lattest Sneakers Shoe Sneakers For Men,₹305,76% off
52,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹449,55% off
53,Robbie jones,Sneakers For Men,₹499,50% off
54,BIRDE,Combo Pack of 2 Casual shoes Sneakers For Men,₹599,60% off
55,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,₹499,66% off
56,DURANE,GLADIATOR Sneakers For Men,"₹2,397",14% off
57,Echor,Men's Canvas Low Top Sneakers Lace-up Classic ...,₹386,74% off
58,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹499,50% off
59,Zorth,"New Fashion Outdoor Trendy Lightweight Casual,...",₹499,50% off
60,BLANCCY,Sneakers For Men,₹429,57% off
61,RapidBox,Sneakers For Men,₹640,35% off
62,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹549,75% off
63,SPARX,SM-439 Sneakers For Men,₹799,1% off
64,Blide,Running Shoes |Casuals | Sneakers | Sports | M...,₹449,61% off
65,aadi,Sneakers For Men,₹549,72% off
66,Vellinto,Casual Sneakrs For Men Sneakers For Men,₹749,42% off
67,Arohi,Sneakers For Men,₹398,60% off
68,JOHAR KING,Casual Party Wear Sneaker Shoe Sneakers For Men,₹449,77% off
69,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹384,61% off
70,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,₹630,57% off
71,SPARX,SM-322 Sneakers For Men,₹849,15% off
72,JACK & JONES,Sneakers For Men,"₹1,999",20% off
73,FEWROK,Premium quality Sneakers For Men,₹429,57% off
74,KNIGHT WALKERS,Sneakers For Men,₹649,56% off
75,KANEGGYE,Sneakers For Men,₹399,20% off
76,Neso,Sneakers For Men,₹749,25% off
77,CALCADOS,Trendy Fashion Combo Pack of 2 Sneakers For Men,₹498,50% off
78,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹471,81% off
79,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹530,78% off
80,Flatheads,Sneakers For Men,"₹2,995",66% off
81,BRUTON,CUBIC_1 Sneakers For Men,₹279,78% off
82,SPARX,SM-162 Sneakers For Men,₹849,15% off
83,BIRDE,Casual Shoes Sneakers For Men,₹399,60% off
84,DURANE,GLADIATOR Sneakers For Men,"₹2,397",14% off
85,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹449,55% off
86,BIRDE,Men Casual Shoes Sneakers For Men,₹399,35% off
87,Strollin,Sneakers For Men,₹420,57% off
88,Blide,Running Shoes |Casuals | Sneakers | Sports | M...,₹449,61% off
89,BIRDE,Trendy Sport Shoes For Men Pack Of 2 Sneakers ...,₹735,50% off
90,Deals4you,Sneakers For Men,₹474,52% off
91,Saimon,Sneaker 1258 Sneakers For Men,₹238,52% off
92,Flatheads,Sneakers For Men,"₹2,995",66% off
93,Mr.SHOES,Sneakers For Men,"₹1,899",62% off
94,Rao,"Boys & Men Stylish, Comfortable Comfort Foam S...",₹497,75% off
95,restinfoot,"Casual shoes,Sneakers for men's,shoes for men'...",₹407,59% off
96,JACK & JONES,Sneakers For Men,"₹1,999",20% off
97,HOCKWOOD,Street Smart Sneakers For Men,₹749,25% off
98,Robbie jones,Sneakers For Men,₹499,50% off
99,Bonexy,Sneakers For Men,₹499,50% off
100,Neso,Sneakers For Men,₹749,25% off

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [2]:
 # calling chrome driver and getting the url
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.myntra.com/shoes'
driver.get(url)

In [3]:
#opting the price range
price_range=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()
#opting black colour
black_col=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [4]:
#creating lists and defining function for appending the data
brand_list=[]
description_list=[]
price_list=[]

def attach(x,y):
    for w in x:
        y.append(w.text)

In [5]:
# creating for loop for extracting the data
for j in range(0,2):
    time.sleep(10)
    try:
        brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        attach(brand,brand_list)
        description=driver.find_elements_by_xpath('//h4[@class="product-product"]')
        attach(description,description_list)
        price=driver.find_elements_by_xpath('//div[@class="product-price"]')
        attach(price,price_list)
        if j<1:
            next_button=driver.find_elements_by_xpath('//li[@class="pagination-next"]')[-1].click()
    except exceptions.StaleElementReferenceException:  
        pass

In [6]:
# Framing the acquired data
df=pd.DataFrame(list(zip(brand_list,description_list,price_list)))
df.columns=['Brand','Description','Price']
df.index+=1
pd.set_option('display.max_rows', None)
df

,Brand,Description,Price
1,Street Style Store,Women Suede High-Top Flat Boots,Rs. 1199Rs. 1999(Rs. 800 OFF)
2,Bond Street By Red Tape,Men Walking Shoes,Rs. 1169Rs. 3899(70% OFF)
3,mr.wonker,Men Running Shoes,Rs. 739Rs. 3699(80% OFF)
4,Campus,Men Running Shoes,Rs. 1274Rs. 1699(25% OFF)
5,Nike,Men Court Lite 2 Tennis Shoes,Rs. 4995
6,Red Tape,Men Walking Shoes,Rs. 1469Rs. 4899(70% OFF)
7,Red Tape,Women Walking Shoes,Rs. 1559Rs. 5199(70% OFF)
8,ZAPATOZ,Women Heeled Boots,Rs. 689Rs. 999(31% OFF)
9,DressBerry,Women Ballerinas,Rs. 1139Rs. 1899(40% OFF)
10,CLYMB,Men Running Shoes,Rs. 779Rs. 1499(48% OFF)
11,Puma,Men Propel 3D IDP Sneakers,Rs. 2199Rs. 3999(45% OFF)
12,El Paso,Women Solid Heeled Boots,Rs. 1299Rs. 4330(70% OFF)
13,Sparx,Men Running Shoes,Rs. 1049
14,PUMA Motorsport,Men SF Kart Cat Mid III,Rs. 3899Rs. 6499(40% OFF)
15,Puma,Women Running Shoes,Rs. 1999Rs. 3999(50% OFF)
16,Campus,Men Running Shoes,Rs. 1049
17,Puma,Men Running Shoes,Rs. 5999
18,El Paso,Women Textured Flat Boots,Rs. 1299Rs. 4330(70% OFF)
19,AfroJack,Men Colourblocked Sneakers,Rs. 749Rs. 3745(80% OFF)
20,U.S. Polo Assn.,Men LEBRON 2.0 Walking Shoes,Rs. 2199Rs. 3999(45% OFF)
21,Mactree,Men Suede Loafers,Rs. 898Rs. 4490(80% OFF)
22,Puma,Men Black Sneakers,Rs. 2474Rs. 4499(45% OFF)
23,Mactree,Men Solid Leather Loafers,Rs. 898Rs. 4490(80% OFF)
24,Puma,Men Fire Run IDP Sneakers,Rs. 1799Rs. 2999(40% OFF)
25,Lotto,Men Walking Shoes,Rs. 839Rs. 2799(70% OFF)
26,Alishtezia,Women Walking Shoes,Rs. 799Rs. 999(20% OFF)
27,mr.wonker,Men Solid Formal Loafers,Rs. 665Rs. 3329(80% OFF)
28,AfroJack,Men Slip-On Sneakers Casual Shoes,Rs. 799Rs. 3995(80% OFF)
29,ELIXIR MAN,Men Sneakers,Rs. 579Rs. 1999(71% OFF)
30,Sir Corbett,Men Black Formal S,Rs. 884Rs. 2949(70% OFF)
31,El Paso,Women High-Top Flat Boots,Rs. 1299Rs. 6495(80% OFF)
32,Red Tape,Women Walking Shoes,Rs. 1589Rs. 5299(70% OFF)
33,ZAPATOZ,Women Walking Shoes,Rs. 599Rs. 999(40% OFF)
34,Red Tape,Women Air Plus Walking Shoes,Rs. 1979Rs. 6599(70% OFF)
35,HRX by Hrithik Roshan,Marble Knit Running Shoes,Rs. 1979Rs. 3599(45% OFF)
36,Campus,Men Running Shoes,Rs. 996Rs. 1049(5% OFF)
37,Domyos By Decathlon,Men Training & Gym Shoes,Rs. 1879Rs. 3999(53% OFF)
38,Sparx,Men Running Shoes,Rs. 1049
39,Fentacia,Men Woven Flat Boots,Rs. 989Rs. 4499(78% OFF)
40,Nike,Kids Revolution 4 Running,Rs. 1299Rs. 3495(Rs. 2196 OFF)
41,Fentacia,Men Lightweight Flat Boots,Rs. 1319Rs. 5999(78% OFF)
42,Ginger by Lifestyle,Women Ballerinas,Rs. 607Rs. 1599(62% OFF)
43,Mactree,Men Slip-On Sneakers,Rs. 878Rs. 4390(80% OFF)
44,Slazenger,Men Solid Running Shoes,Rs. 1679Rs. 2799(40% OFF)
45,HRX by Hrithik Roshan,Men FlexStreet Athleisure Shoe,Rs. 2939Rs. 4899(40% OFF)
46,LONDON STEPS,Women Solid Wedges,Rs. 649Rs. 999(35% OFF)
47,U.S. Polo Assn.,Men Textured Driving Shoes,Rs. 2519Rs. 3599(30% OFF)
48,Sir Corbett,Semi-Formal Shoes,Rs. 884Rs. 2949(70% OFF)
49,ZAPATOZ,Women Block Heeled Boots,Rs. 1759Rs. 3999(56% OFF)
50,Mast & Harbour,Women Colourblocked Sneakers,Rs. 1979Rs. 3299(40% OFF)
51,Mast & Harbour,Women Colourblocked Sneakers,Rs. 1979Rs. 3299(40% OFF)
52,U.S. Polo Assn.,Men MIRANO 2.0 Driving Shoes,Rs. 1649Rs. 2999(45% OFF)
53,TimberWood,Women Walking Shoes,Rs. 649Rs. 999(35% OFF)
54,Mactree,Men Sneakers,Rs. 698Rs. 3490(80% OFF)
55,ASICS,Kids Solid Running Shoes,Rs. 999Rs. 3299(Rs. 2300 OFF)
56,HRX by Hrithik Roshan,Men Alpha Running Shoes,Rs. 2249Rs. 4499(50% OFF)
57,HRX by Hrithik Roshan,Men Solid Sneakers,Rs. 2759Rs. 4599(40% OFF)
58,San Frissco,Men Solid Formal Loafers,Rs. 1798Rs. 4995(64% OFF)
59,Roadster,Men Solid Sneakers,Rs. 2219Rs. 3699(40% OFF)
60,Melange by Lifestyle,Women Ballerinas,Rs. 607Rs. 1599(62% OFF)
61,Domyos By Decathlon,Women Training or Gym Shoes,Rs. 1899Rs. 1999(5% OFF)
62,ZAPATOZ,Women Walking Shoes,Rs. 689Rs. 999(31% OFF)
63,HERE&NOW,Women Textured Flat Boots,Rs. 797Rs. 2659(70% OFF)
64,Alishtezia,Woman Black Block Heeled Boots,Rs. 1319Rs. 3299(60% OFF)
65,Puma,Sneakers,Rs. 1924Rs. 3499(45% OFF)
66,HRX by Hrithik Roshan,Men Urban Street Shoes,Rs. 2579Rs. 4299(40% OFF)
67,HIGHLANDER,Men Sneakers,Rs. 895Rs. 1990(55% OFF)
68,Campus,Men Running Shoes,Rs. 1274Rs. 1699(25% OFF)
69,AfroJack,Men Slip-On Sneakers,Rs. 699Rs. 3495(80% OFF)
70,Truffle Collection,Women Heeled Boots,Rs. 2699Rs. 4499(40% OFF)
71,HRX by Hrithik Roshan,Men Knit Run 1.0 Running Shoe,Rs. 1574Rs. 4499(65% OFF)
72,Fentacia,Men Perforations Loafers,Rs. 944Rs. 4499(79% OFF)
73,BUCIK,Men Slip-On Sneakers,Rs. 749Rs. 2999(75% OFF)
74,Shoetopia,Women Walking Shoes,Rs. 749Rs. 999(25% OFF)
75,Alishtezia,Women Suede Block Sandals,Rs. 679Rs. 999(32% OFF)
76,ZAPATOZ,Women Heeled Boots,Rs. 669Rs. 999(33% OFF)
77,TWIN TOES,Mid-Top Block Heeled Boots,Rs. 629Rs. 1499(58% OFF)
78,Puma,Men Dexster IDP Sneakers,Rs. 2199Rs. 3999(45% OFF)
79,BYFORD by Pantaloons,Men Solid PU Slip-On Sneakers,Rs. 749Rs. 999(25% OFF)
80,Crocs,Women Black Textured Wedges,Rs. 1767Rs. 2995(41% OFF)
81,shoexpress,Men Walking Shoes,Rs. 2399Rs. 3999(40% OFF)
82,Red Tape,Men Leather Formal Derbys,Rs. 2039Rs. 6799(70% OFF)
83,Puma,Men Running Shoes,Rs. 1999Rs. 3999(50% OFF)
84,one8 x PUMA,Men Focus One8 IDP Run Shoes,Rs. 3224Rs. 4299(25% OFF)
85,Mactree,Men Bounce Walking Shoes,Rs. 698Rs. 3490(80% OFF)
86,FINNOY,Men Textured PU Loafers,Rs. 1499Rs. 2499(40% OFF)
87,Puma,Men Sneakers,Rs. 1999Rs. 3999(50% OFF)
88,Mactree,Men Solid Genuine Leather Formal Slip-Ons,Rs. 998Rs. 4990(80% OFF)
89,Crocs,Women Open Toe Flats,Rs. 1856Rs. 2995(38% OFF)
90,LOUIS STITCH,Men Leather High-Top Flat Boots,Rs. 2069Rs. 8999(77% OFF)
91,Converse,Unisex Leather Sneakers,Rs. 4499Rs. 5999(25% OFF)
92,Puma,Men Progression Running Shoes,Rs. 2099Rs. 2999(30% OFF)
93,Kalenji By Decathlon,Men Running Shoes,Rs. 1597Rs. 1699(6% OFF)
94,Slazenger,Men Woven Design Running Shoes,Rs. 1749Rs. 3499(50% OFF)
95,HRX by Hrithik Roshan,Men Freesport Athleisure Shoes,Rs. 1959Rs. 4899(60% OFF)
96,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
97,Puma,Sneakers,Rs. 2249Rs. 4499(50% OFF)
98,Bond Street By Red Tape,Men Walking Shoes,Rs. 1469Rs. 4899(70% OFF)
99,AfroJack,Women Flat Boots,Rs. 799Rs. 3999(80% OFF)
100,Fentacia,Men High-Top Suede Flat Boots,Rs. 1374Rs. 6249(78% OFF)

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [2]:
# calling chrome driver and getting the url
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.amazon.in/'
driver.get(url)
driver.maximize_window()

In [3]:
#entering the keys
search_box=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_box.send_keys('Laptop')

In [4]:
# pressing enter to load the page
search_box.send_keys(Keys.ENTER)

In [5]:
#toggling see more button
see_more=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span').click()

In [7]:
#opting Intel Core i7 
intel_i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div').click()

In [8]:
#creating lists and defining function for appending the data
product_list=[]
rating_list=[]
price_list=[]

def attach(x,y):
    for w in x:
        y.append(w.text)

In [9]:
#Scraping product name and price
product=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
price=driver.find_elements_by_xpath('//span[@class="a-price"]')
attach(product, product_list)
attach(price, price_list)

In [10]:
# picking top 10 product name and price
top_10_products=product_list[0:10]
top_10_prices=price_list[0:10]

In [11]:
# getting product url 
getting_product_url=driver.find_elements_by_xpath('//a[@class="a-link-normal s-link-style a-text-normal"]')

In [12]:
# fetching url of top 10 product
z=[]
for i in range(0,10):
    if i<10:
        z.append(getting_product_url[i].get_attribute('href'))

In [13]:
# fetching the rating of top 10 products
for i in range(0,10):
    time.sleep(3)
    driver.get(z[i])
    try:
        stars = driver.find_element_by_id('acrPopover').get_attribute('title')
        rating_list.append(stars)
    except:
        #if at all there is no rating
        y='none'
        rating_list.append(y)

In [14]:
#framing the data
df=pd.DataFrame(list(zip(top_10_products, rating_list, top_10_prices)))
df.columns=['Product Name','Rating','Price']
df.index+=1
df

,Product Name,Rating,Price
1,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,4.3 out of 5 stars,"₹79,990"
2,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,4.4 out of 5 stars,"₹92,490"
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",5.0 out of 5 stars,"₹59,990"
4,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,4.5 out of 5 stars,"₹89,990"
5,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",4.4 out of 5 stars,"₹95,990"
6,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.1 out of 5 stars,"₹88,990"
7,"Lenovo Yoga 7 11th Gen Intel Core i7 14""(35.56...",4.2 out of 5 stars,"₹99,990"
8,ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...,4.1 out of 5 stars,"₹95,990"
9,"HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...",4.6 out of 5 stars,"₹86,990"
10,Fujitsu UH-X 11th Gen Intel Core i7 13.3 inche...,4.2 out of 5 stars,"₹1,07,490"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [2]:
# getting the page url
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()

In [3]:
# clicking on jobs button
jobs_button=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()

In [4]:
# entering the keyword Datascientist and clicking on the search button
search_bar=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_bar.send_keys('Data Scientist')
search_button=WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div/div/div/button"))).click()

In [5]:
#clicking on the location filter
loc_filter=driver.find_element_by_xpath('//div[@title="Location"]').click()

In [6]:
#finding the location search bar
loc_search=driver.find_element_by_xpath('//input[@type="text" and @placeholder="Search locations"]')

In [7]:
#sending location keys
loc_search.send_keys('Noida')

In [8]:
# opting the filtering checkbox
loc_check_box=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [9]:
# defining empty list and appending function
company_names=[]
rating_list=[]
days_ago_list=[]
def attach(x,y):
    for i in x:
        y.append(i.text)

In [10]:
# acquiring the company names
for i in range(1,11):
    str1='//*[@id="jobsList"]/div[2]/div[2]/div/div[1]/div['
    str2=str(i)
    str3=']/div[2]/div/p'
    xpath=str1+str2+str3
    company_name=driver.find_element_by_xpath(xpath)
    company_names.append(company_name.text)

In [11]:
#acquiring the rating list
rating=driver.find_elements_by_xpath('//span[@class="body-small"]')
attach(rating,rating_list)

In [12]:
#acquiring the no. of days ago list
for i in range(1,11):
    str1='//*[@id="jobsList"]/div[2]/div[2]/div/div[1]/div['
    str2=str(i)
    str3=']/div[3]/span[1]'
    xpath=str1+str2+str3
    days_ago=driver.find_element_by_xpath(xpath)
    days_ago_list.append(days_ago.text)

In [13]:
#framing the data
df=pd.DataFrame(list(zip(company_names, rating_list, days_ago_list)))

In [15]:
df.columns=['Company Name', 'Rating', 'Number of Days Ago']
df.index+=1
df

                     Company Name Rating Number of Days Ago
1            Ameriprise Financial    4.0           12hr ago
2                           Paytm    3.7             7d ago
3      Jubilant Foodworks Limited    3.9            24d ago
4                    CHT Sapiense    3.7             8d ago
5                    CHT Sapiense    3.7             9d ago
6                        GI Group    4.1            20d ago
7                        GI Group    4.1            20d ago
8                        GI Group    4.1            20d ago
9   RMS Risk Management Solutions    3.5             2d ago
10                          Paytm    3.7            27d ago

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [3]:
# calling the url using driver
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()

In [4]:
# clicking on salaries button
salaries_button=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]').click()

In [5]:
# search for data scientist in job profiles
search_bar=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_bar.send_keys('Data Scientist')

In [6]:
#clicking the first suggestion
search_bar.send_keys(Keys.ARROW_DOWN, Keys.ENTER)

In [7]:
#creating companies name list
company_names=[]
for i in range(1,11):
    str1='/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div['
    str2=str(i)
    str3=']/div[1]/div/div/div[1]/a'
    xpath=str1+str2+str3
    company_name=driver.find_element_by_xpath(xpath)
    company_names.append(company_name.text)

In [8]:
#defining attach function for appending the acquired name
def attach(x,y):
    for i in x:
        y.append(i.text)

In [10]:
#defining experience required list
exp_req=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_list=[]
attach(exp_req, exp_list)
new_exp_list=[]
for i in range(0,10):
    x=exp_list[i]
    new_exp_list.append(x[19:-4])

In [12]:
# creating average salary list
avg_sal=driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]')
avg_sal_list=[]
attach(avg_sal, avg_sal_list)

In [13]:
# creating minimum and maximum salary lists
sal_val=driver.find_elements_by_xpath('//div[@class="salary-values"]')
sal_val_list=[]
attach(sal_val, sal_val_list)
min_sal_list=[]
max_sal_list=[]
for i in range(0,10):
    s=sal_val_list[i]
    min_sal_list.append(s[0:-8])
    max_sal_list.append(s[-7:])

In [14]:
# creating salaries record list
sal_record_list=[]
for i in range(1,11):
    str1='/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div['
    str2=str(i)
    str3=']/div[1]/div/div/div[1]/span'
    xpath=str1+str2+str3
    sal_record=driver.find_element_by_xpath(xpath)
    sal_record_list.append(sal_record.text)

In [15]:
# framing the acquired data
df=pd.DataFrame(list(zip(company_names, sal_record_list, avg_sal_list, min_sal_list, max_sal_list, new_exp_list)))
df.columns=['Company Name', 'Total Salary Record', 'Average Salary', 'Mininum Salary', 'Maximum Salary', 'Experience Required']
df.index+=1
df

,Company Name,Total Salary Record,Average Salary,Mininum Salary,Maximum Salary,Experience Required
1,Walmart,based on 10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L,3 yrs
2,Ab Inbev,based on 22 salaries,₹ 19.5L,₹ 15.0L,₹ 25.0L,3-4 yrs
3,ZS,based on 14 salaries,₹ 15.8L,₹ 9.8L,₹ 20.0L,2 yrs
4,Fractal Analytics,based on 72 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,2-4 yrs
5,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,3-4 yrs
6,UnitedHealth,based on 49 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,2-4 yrs
7,Tiger Analytics,based on 27 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,3-4 yrs
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs
10,Ericsson,based on 42 salaries,₹ 11.9L,₹ 5.8L,₹ 21.5L,3-4 yrs